<a href="https://colab.research.google.com/github/WillianCella/ModelosDeAprendizadoSupervisionado/blob/main/Trabalho_1_%E2%80%93_Modelos_de_Aprendizado_Supervisionado.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

A base de dados *poker-hand-testing* foi extraída de: https://archive-beta.ics.uci.edu/dataset/158/poker+hand

In [52]:
import pandas as pd
#import sklearn as sk
#import matplotlib as plt
#import numpy as np
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

In [58]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [59]:
dados = pd.read_csv("/content/drive/MyDrive/Shared/poker-hand-testing2.csv", sep = ';')
x = dados.iloc[:, :10].values # Cria uma matriz com todos os valores exceto as classes
y = dados['Class'].values     # Cria um array com os valores das classes

# Cria um dataFrame com a matriz de dados com os nomes de todas as colunas exceto a última
df_temp = pd.DataFrame(dados,columns=dados.columns[:-1])
df_temp

     S1  C1  S2  C2  S3  C3  S4  C4  S5  C5
0     1   1   1  13   2   4   2   3   1  12
1     3  12   3   2   3  11   4   5   2   5
2     1   9   4   6   1   4   3   2   3   9
3     1   4   3  13   2  13   2   1   3   6
4     3  10   2   7   1   2   2  11   4   9
..   ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
995   1   3   3  10   1   9   2   6   1  10
996   4   2   3  11   3   5   4   3   2  11
997   1   2   4  11   3  10   1   5   1   4
998   2   5   2   7   1  12   4   6   4  11
999   2   8   2  11   3   2   1  12   1   8

[1000 rows x 10 columns]

In [60]:
from sklearn.model_selection import train_test_split
x_treino,x_teste,y_treino,y_teste=train_test_split(df_temp,dados['Class'],test_size=0.5,stratify=dados['Class'],shuffle=True)
#x_validacao,x_teste,y_validacao,y_teste=train_test_split(x_teste,y_teste,test_size=0.5, stratify = y_teste)

In [76]:
# KNN
KNNBestResult = 0
Kneighbor = 0
weight = ''
for i in range(1, 51):
  for j in ["uniform","distance"]:
    KNN = KNeighborsClassifier(n_neighbors=i,weights=j)
    KNN.fit(x_treino,y_treino)
    opiniao = KNN.predict(x_teste)
    pred = KNN.predict(x_teste)
    result = accuracy_score(y_teste, opiniao)
    #print(f"Precisão: {i} - {j} -> ", {result})
    if result > KNNBestResult:
      KNNBestResult = result
      Kneighbor = i
      weight = j

print(f'Melhor resultado:')
print(f'kneighbor - {Kneighbor}')
print(f'weight - {weight}')
print(f'accuracy - {KNNBestResult}')
# teste = KNeighborsClassifier(n_neighbors=Kneighbor,weights=weight)
# teste.fit(x_treino,y_treino)
# opinionTest = teste.predict(x_teste)
# predTest = teste.predict(x_teste)
# resultTest = accuracy_score(y_teste, opinionTest)
# print(f'Teste com o melhor resultado: {resultTest}')

Melhor resultado:
kneighbor - 41
weight - uniform
accuracy - 0.54